@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- =====================================
        ==== Start services -->
    <section id="services" class="services text-center bg-gray section-padding pt-100 pb-100" style="background-image: url(img/bg-5.png); background-color:#0000003b">
            <div class="container">
                <div class="row">
                   
                    @*
                  <div class="col-md-4 col-sm-12 col-xs-12 animate__animated animate__fadeInUp">
                         <div class="box-icon-left items " style="background-image: url(img/bg-6.jpg); color: #000;">
                            <span class="icon"><i class="fa fa fa-object-ungroup"></i></span>
                            <div class="cont">
                                <h5 class="mb-10">Visualize your ideas</h5>
                                <p class="pb-10">A decade ago, we founded Melinda with the goal of creating meaningful digital experiences.</p>
                                 <a href="#0" class="box-icon-btn"><span>Read More</span></a> 
                            </div>
                        </div>
                    </div>
                    *@

                    <div class="col-md-4 col-sm-12 col-xs-12 animate__animated animate__fadeInUp ">
                        <div class="box-icon-left items item" style="background-image: url(img/bg-4.jpg);">
                            <span class="icon"><i class="fab fa-gg"></i></span>
                            <div class="cont">
                                <h5 class="mb-10">Visualize your ideas</h5>
                                <p class="pb-10">A decade ago, we founded Melinda with the goal of creating meaningful digital experiences.</p>
                                <a href="#0" class="box-icon-btn" style="color:#fff"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-12 col-xs-12 animate__animated animate__fadeInUp ">
                        <div class="box-icon-left items item" style="background-image: url(img/bg-4.jpg);">
                            <span class="icon"><i class="fab fa-gg"></i></span>
                            <div class="cont">
                                <h5 class="mb-10">Render 3D works</h5>
                                <p class="pb-10">A decade ago, we founded Melinda with the goal of creating meaningful digital experiences.</p>
                                <a href="#0" class="box-icon-btn" style="color:#fff"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-12 col-xs-12 animate__animated animate__fadeInUp">
                        <div class="box-icon-left items item" style="background-image: url(/img/bg-7.jpg);">
                            <span class="icon"><i class="fab fa-gitlab"></i></span>
                            <div class="cont">
                                <h5 class="mb-10">Gain a perspective</h5>
                                <p class="pb-10">A decade ago, we founded Melinda with the goal of creating meaningful digital experiences.</p>
                                <a href="#0" class="box-icon-btn" style="color:#fff"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>

                </div>
                    </div>
        </section>
        <!-- End services ====
        ======================================= -->
            <!-- =====================================
     
                @*
                ==== Start process -->
    <section id="offers" class="offers section-padding pt-80 pb-90" data-scroll-index="1">
        <div class="container">
            <div class="section-head text-center">
                <h3>Smart planing of <span>Work process</span></h3>
                <p>This including consulting multi disciplinary consulting work with design and engineering, our<br> world branches giving full support for executing professional work.</p>
            </div>
            <div class="content">
                <div class="owl-carousel owl-theme">
                    <!-- offer item -->
                    <div class="items items-2 text-center">
                        <div class="img">
                            <img src="/img/bg6.jpg" alt="">
                            <div class="content-overlay valign">
                                <h3>01</h3>
                            </div>
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu">Conceptual</h3>
                            <p>this summer, we will reopen with a menu that celebrates the best of what we’ve offered these past two years.</p>
                        </div>
                    </div>

                    <!-- offer item -->
                    <div class="items text-center">
                        <div class="img">
                            <img src="/img/bg2.jpg" alt="">
                            <div class="content-overlay valign">
                                <h3>02</h3>
                            </div>
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu">Schematic</h3>
                            <p>this summer, we will reopen with a menu that celebrates the best of what we’ve offered these past two years.</p>
                        </div>
                    </div>

                    <!-- offer item -->
                    <div class="items text-center">
                        <div class="img">
                            <img src="/img/2.jpg" alt="">
                            <div class="content-overlay valign">
                                <h3>03</h3>
                            </div>
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu">Development</h3>
                            <p>this summer, we will reopen with a menu that celebrates the best of what we’ve offered these past two years.</p>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        
    </section>
    <!-- End offers ====
        ======================================= -->
        <!-- =====================================
*@ 

        ====book-seat Start services -->
    <section id="book-seat " class="book-seat text-center section-padding pb-95">

        <div class="container">
            <h5>INNOVATION STARTS HERE</h5>
                    <h3>
        BIM has been giving best consultation to top USA’s<br>
        Engineering companies since 1975</h3>
            <a href="#" class="butn butn-bg">
                <span class="elementor-button-text">Know More</span>
<span class="elementor-button-content-wrapper"> <span class="elementor-button-icon elementor-align-icon-right"> <i aria-hidden="true" class="fas fa-angle-double-right"></i> </span>  </span>
            </a>
        </div>
    </section>
@*
    <!-- End services book-seat====
        ======================================= -->
 <section id="services" class="services text-center bg-gray section-padding offers section-padding" data-scroll-index="2">
            <div class="container">
                <div class="section-head">
                <div class="re-header">
                    <h6>What We Do</h6>
                    <h4>OUR SERVICES</h4>
                    <p>This including consulting multi disciplinary consulting work with design and engineering, our<br>world branches giving full support for executing professional work.</p>
                </div>
                </div>
            <div class="content">
                <div class="owl-carousel owl-theme">
                    <!-- offer item -->
                    <div class="items-items text-center">
                        <div class="img">
                            <img src="/img/demos/about.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu">Engineering works</h3>
                            <p>To covering structure, mechanical, electrical and plumbing (MEP).</p>
                        </div>
                    </div>

                    <!-- offer item -->
                    <div class="items-items text-center">
                        <div class="img">
                            <img src="/img/demos/blog-2.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu">Interior Design</h3>
                            <p>The interior dynamics of built spaces to be welcoming.</p>
                        </div>
                    </div>

                    <!-- offer item -->
                    <div class="items-items text-center">
                        <div class="img">
                            <img src="/img/demos/gallery.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu">Decoration art</h3>
                            <p>To covering structure, mechanical, electrical and plumbing (MEP).</p>
                        </div>
                    </div>

                    <!-- offer item -->
                    <div class="items-items text-center">
                        <div class="img">
                            <img src="/img/demos/Landscape-Hardscapes.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu">GIS & Planning</h3>
                            <p>Through the balanced integration of green spaces and hard escaping.</p>
                        </div>
                    </div>
                     <!-- offer item -->
                    <div class="items-items text-center">
                        <div class="img">
                            <img src="/img/demos/slide-1.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3-Fatu"> Architecture Studio </h3>
                            <p>We designs spaces and ambiances to best meet Clients’ functional.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- End services ====
        ======================================= -->

    *@