@{
    ViewData["Title"] = "Home Page";
}

@*
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
*@


<header>
    <!-- Swiper -->
    <div class="swiper-head">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="items section-padding valign" style="background-image: url(img/home.jpg); height:100%; min-height:100%;">
                    <div class="container">
                        <div class="row ">
                            <div class="col-lg-7">
                                <div class="content">
                                    <div class="items-header">
                                        <h6>The choice around the world</h6>
                                        <h1>Innovative <span>Modern</span><br> Design & Working</h1>
                                        <p> The final design package as per latest approval and client dreams. The final design package as per latest approval and client dreams  and art work requirements to acceptance.</p>
                                        
                                            <a class="nav-link navbar-light" asp-controller="Home" asp-action="Portfolio" >
                                                VIEW MORE
                                            </a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*
             <div class="swiper-slide">
                <div class="items section-padding valign" style="background-image: url(img/bg1.jpg); height:100%; min-height:100%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="content">
                                    <div class="items-header">
                                        <h6>The choice around the world</h6>
                                        <h1>Innovative <span>Modern</span><br> Design & Works</h1>
                                        <p> The final design package as per latest approval and client dreams. The final design package as per latest approval and client dreams  and art work requirements to acceptance.</p>
                                       
                                        <a href="#0" class="butn butn-bg-1">
                                            <span>VIEW MORE</span>
                                        </a>
                                        <a href="#0" class="butn butn-bg butn-bg-2">
                                            <span>VIEW MORE</span>
                                        </a>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            *@
        </div>
        <!-- Add Pagination -->
        <div class="swiper-numbers"></div>
        <!-- Add Arrows -->
        <div class="swiper-next"><i class="fas fa-chevron-right"></i></div>
        <div class="swiper-prev"><i class="fas fa-chevron-left"></i></div>
    </div>
    <div class="center-lines"></div>
    <div class="side-lines"></div>
</header>
<!-- End Header ====
    ======================================= -->
    