 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 
 <!-- =====================================
        ==== Start Works -->
      

    <section id="portfolio " class="works section-padding " data-scroll-index="3"> 
        <div class="container ">
            <div class="section-head text-center">
                <h5>Recent Work</h5>
                <h3>AWESOME PORTFOLIO</h3>
            </div>
            <!-- filter links -->
            <div class="filtering text-center col-sm-12 ">
                <div class="filter ">
                    <span data-filter='*' class="active ">ALL</span>
                    <span data-filter='.interior'>Interior</span>
                    <span data-filter='.exterior'>Exterior</span>
                    <span data-filter='.furniture'>Furniture</span>
                    
                </div>
            </div>
            <!-- gallery -->
            <div class="row gallery full-width">

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items development brand ">
                    <div class="item-img ">
                        <img src="/img/portfolio/1.jpg" alt="image ">
                        <div class="item-img-overlay ">
                            <div class="overlay-info full-width ">
                                <div class="cont v-middle ">
                                    <h3>Culture Library</h3>
                                    <p>Hospitality / Libraries</p>
                                </div>
                                <a href="/img/portfolio/1.jpg" class="popimg ">
                                    <span class="icon "><i class="fas fa-plus "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items design ">
                    <div class="item-img ">
                        <img src="/img/portfolio/2.jpg" alt="image ">
                        <div class="item-img-overlay ">
                            <div class="overlay-info full-width ">
                                <div class="cont v-middle ">
                                    <h3>Royal Palace</h3>
                                    <p>Hospitality / Interior / Royal</p>
                                </div>
                                <a href="/img/portfolio/2.jpg" class="popimg ">
                                    <span class="icon "><i class="fas fa-plus "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items marketing ">
                    <div class="item-img ">
                        <img src="/img/portfolio/3.jpg" alt="image ">
                        <div class="item-img-overlay ">
                            <div class="overlay-info full-width ">
                                <div class="cont v-middle ">
                                    <h3>Ocean House</h3>
                                    <p>Hospitality / Residential</p>
                                </div>
                                <a href="/img/portfolio/3.jpg" class="popimg ">
                                    <span class="icon "><i class="fas fa-plus "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items development brand ">
                    <div class="item-img ">
                        <img src="/img/portfolio/4.jpg" alt="image ">
                        <div class="item-img-overlay ">
                            <div class="overlay-info full-width ">
                                <div class="cont v-middle ">
                                    <h3>Cinema Dar</h3>
                                    <p>Theaters</p>
                                </div>
                                <a href="/img/portfolio/4.jpg" class="popimg ">
                                    <span class="icon "><i class="fas fa-plus "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items design ">
                    <div class="item-img ">
                        <img src="/img/portfolio/5.jpg" alt="image ">
                        <div class="item-img-overlay ">
                            <div class="overlay-info full-width ">
                                <div class="cont v-middle ">
                                    <h3>Porcelain & Metal Ducts</h3>
                                    <p>Hospitality</p>
                                </div>
                                <a href="/img/portfolio/5.jpg" class="popimg ">
                                    <span class="icon "><i class="fas fa-plus "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items marketing ">
                    <div class="item-img ">
                        <img src="/img/portfolio/6.jpg " alt="image ">
                        <div class="item-img-overlay ">
                            <div class="overlay-info full-width ">
                                <div class="cont v-middle ">
                                    <h3>Hotels In Wooden</h3>
                                    <p>Hospitality</p>
                                </div>
                                <a href="/img/portfolio/6.jpg " class="popimg ">
                                    <span class="icon "><i class="fas fa-plus "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- End Works ====
        ======================================= -->